<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Registration</title>
</head>
<body>
<h3>新規会員の登録をします</h3>
<form action="/RegistUserID" method="post">
	<p>ご希望のユーザIDを入力してください<br>
	<input type="text" name="userid"></p>
	<p>パスワードを入力してください<br>
	<input type="text" name="password1"></p>
        <p>同じパスワードを入力してください<br>
	<input type="text" name="password2"></p>
	<p>お名前（姓名）を入力してください<br>
	<input type="text" name="username"></p>
	<p><input type="submit" value="登録"></p>
</form>
</body>
</html>

